Host sshtun-{{ ssh_alias }}
{% if proxy  %}
  ProxyCommand /opt/bin/ncat --proxy-type {{ proxy_type }} --proxy {{ proxy_host }}:{{ proxy_port }} {{ ssh_host }} {{ ssh_port }}
{# ProxyUseFdpass yes #}
{% else %}
  Hostname {{ ssh_host }}
  Port {{ ssh_port }}
{% endif %}
  User {{ ssh_user }}
{% if ssh_key %}
  IdentityFile ~/.ssh/{{ ssh_key |basename }}
{% endif %}
  IdentitiesOnly yes
  StrictHostKeyChecking {{ (strict_host_checks and not keyscan_fallback) |ternary('yes','no') }}
  PubkeyAuthentication yes
  PasswordAuthentication no
  ServerAliveInterval {{ wrt_sshtun_alive_interval |int }}
  ServerAliveCountMax 5
{% if wrt_sshtun_rekey_limit %}
  RekeyLimit {{ wrt_sshtun_rekey_limit }}
{% endif %}
  RequestTTY no
  ExitOnForwardFailure yes
{% if socks_port %}
  # socks
  RemoteForward {{ socks_port }}
{% endif %}
{% for forward in forward_ports %}
{% set local = forward.local |string %}
{% set local_netloc = local if ':' in local else '127.0.0.1:' + local %}
{% set remote_port = forward.remote |int %}
  # {{ forward.comment |default('forward',true) }}
  RemoteForward {{ remote_port }} {{ local_netloc }}
{% endfor %}
  # vpn
  Tunnel yes
  TunnelDevice {{ local_tun |int }}:{{ remote_tun |int }}
  PermitLocalCommand yes
  LocalCommand sudo sh /opt/usr/sbin/sshtun-up.sh {{ ssh_alias }}
  RemoteCommand sudo sh {{ wrt_sshtun_command_path }} up
